@-moz-document regexp('(https?://luakit\.github\.io.*|luakit://.*)') {
	a:link {
		color: lightblue !important;
	}
	a:visited {
		color: hotpink !important;
	}
	img {
		background-color: white !important;
	}
	* {
		background-color: black !important;
		color: white !important;	
	};
}

