@-moz-document regexp('https?://.*\.wikipedia\.org/.*') {
	a:link {
		color: lightblue !important;
	}
	a:visited {
		color: hotpink !important;
	}
	* {
		background-color: black !important;
		color: white !important;	
	};
}

